node-red-main.json
[
    {
        "id": "5b63af78.96e4f",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "479859bd.0e5c68",
        "type": "tab",
        "label": "edit Flow",
        "disabled": true,
        "info": ""
    },
    {
        "id": "fd4ffe57.f6b16",
        "type": "tab",
        "label": "Home_v2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cdd51b5.a678ee",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "6e0daf09.fde95",
        "type": "ui_group",
        "z": "",
        "name": "BedESP",
        "tab": "6792355.6549bcc",
        "disp": true,
        "width": "6"
    },
    {
        "id": "6792355.6549bcc",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "5f183a30.367fb4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d90d7c81.48806",
        "type": "ui_tab",
        "z": "",
        "name": "edit",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "92f222b2.fda02",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "d90d7c81.48806",
        "disp": true,
        "width": "6"
    },
    {
        "id": "ffbfbb73.791218",
        "type": "ui_group",
        "z": "",
        "name": "BedESP - switch1",
        "tab": "d90d7c81.48806",
        "disp": true,
        "width": "1"
    },
    {
        "id": "30f2727d.3c166e",
        "type": "ui_group",
        "z": "",
        "name": "Lights",
        "tab": "6792355.6549bcc",
        "disp": true,
        "width": "6"
    },
    {
        "id": "cd4319be.8b6bc8",
        "type": "mqtt out",
        "z": "5b63af78.96e4f",
        "name": "",
        "topic": "home/floor1/myroom/bed_esp/light01",
        "qos": "2",
        "retain": "true",
        "broker": "3cdd51b5.a678ee",
        "x": 754,
        "y": 340,
        "wires": []
    },
    {
        "id": "20c85cf5.dfec84",
        "type": "mqtt out",
        "z": "5b63af78.96e4f",
        "name": "",
        "topic": "home/floor1/myroom/bed_esp/light02",
        "qos": "2",
        "retain": "true",
        "broker": "3cdd51b5.a678ee",
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "cc9bb6ea.cda518",
        "type": "inject",
        "z": "5b63af78.96e4f",
        "name": "every 1 sec",
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "cd4319be.8b6bc8",
                "18067ce1.384813"
            ]
        ]
    },
    {
        "id": "18067ce1.384813",
        "type": "function",
        "z": "5b63af78.96e4f",
        "name": "10 cycles counter",
        "func": "var p = global.get(\"count\") + 1\nif ( p >= 10) {\n    global.set(\"count\", 0)\n    return msg;\n}\nelse {\n    global.set(\"count\", p)\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 420,
        "wires": [
            [
                "20c85cf5.dfec84"
            ]
        ]
    },
    {
        "id": "44e25408.8dfacc",
        "type": "ui_button",
        "z": "5b63af78.96e4f",
        "name": "",
        "group": "6e0daf09.fde95",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Light #1",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "cd4319be.8b6bc8"
            ]
        ]
    },
    {
        "id": "48ccdc2b.213b24",
        "type": "ui_button",
        "z": "5b63af78.96e4f",
        "name": "",
        "group": "6e0daf09.fde95",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Light #2",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "num",
        "topic": "",
        "x": 620,
        "y": 480,
        "wires": [
            [
                "20c85cf5.dfec84"
            ]
        ]
    },
    {
        "id": "d0a7a598.3d5ff8",
        "type": "mqtt in",
        "z": "5b63af78.96e4f",
        "name": "",
        "topic": "home/floor1/myroom/bed_esp/switch01",
        "qos": "2",
        "broker": "3cdd51b5.a678ee",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "44e25408.8dfacc"
            ]
        ]
    },
    {
        "id": "eb94536.8e883b",
        "type": "mqtt in",
        "z": "5b63af78.96e4f",
        "name": "",
        "topic": "home/floor1/myroom/bed_esp/switch02",
        "qos": "2",
        "broker": "3cdd51b5.a678ee",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "48ccdc2b.213b24"
            ]
        ]
    },
    {
        "id": "8de20c0.2f45ff8",
        "type": "function",
        "z": "5b63af78.96e4f",
        "name": "init of counter",
        "func": "global.set(\"count\", 0)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "108f3433.dd29ec",
        "type": "inject",
        "z": "5b63af78.96e4f",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "8de20c0.2f45ff8"
            ]
        ]
    },
    {
        "id": "11e94c28.f61804",
        "type": "ui_button",
        "z": "479859bd.0e5c68",
        "name": "",
        "group": "92f222b2.fda02",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 470,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9992f949.a298a8",
        "type": "ui_form",
        "z": "479859bd.0e5c68",
        "name": "",
        "label": "BedESP",
        "group": "92f222b2.fda02",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "SW01",
                "value": "BedESP/light01",
                "type": "checkbox",
                "required": true
            },
            {
                "label": "SW01",
                "value": "BedESP/light02",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "BedESP/light01": false,
            "BedESP/light02": ""
        },
        "payload": "",
        "topic": "",
        "x": 80,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a978b036.ba504",
        "type": "debug",
        "z": "479859bd.0e5c68",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "274dee43.8e6e62",
        "type": "ui_dropdown",
        "z": "479859bd.0e5c68",
        "name": "",
        "label": "",
        "place": "Select option",
        "group": "92f222b2.fda02",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "1",
                "value": true,
                "type": "bool"
            },
            {
                "label": "2",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 177,
        "y": 288,
        "wires": [
            []
        ]
    },
    {
        "id": "6828d49c.d20e9c",
        "type": "ui_switch",
        "z": "479859bd.0e5c68",
        "name": "",
        "label": "L1",
        "group": "ffbfbb73.791218",
        "order": 0,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 195,
        "y": 410,
        "wires": [
            []
        ]
    },
    {
        "id": "36ab43b0.2171bc",
        "type": "ui_switch",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "label": "BedESP - L1",
        "group": "30f2727d.3c166e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "home/floor1/myroom/bed_esp/light01",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1050,
        "y": 100,
        "wires": [
            [
                "25116de1.55b6a2"
            ]
        ]
    },
    {
        "id": "b74421f6.5c28b",
        "type": "mqtt in",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "topic": "nodes",
        "qos": "2",
        "broker": "3cdd51b5.a678ee",
        "x": 70,
        "y": 220,
        "wires": [
            [
                "9a1d78b7.ce33b8"
            ]
        ]
    },
    {
        "id": "9a1d78b7.ce33b8",
        "type": "function",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "func": "var out = msg.payload.split(\" \");\nif (out[1] == \"lights:\") {\n    msg.payload = out;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "50c31f63.3c7c7"
            ]
        ]
    },
    {
        "id": "50c31f63.3c7c7",
        "type": "switch",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BedESP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SecondESP",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "364e1f05.d728e"
            ],
            [
                "a25fa7c7.4eca08"
            ]
        ]
    },
    {
        "id": "332d8a58.120516",
        "type": "switch",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "4428e39b.74209c"
            ],
            [
                "c52248f9.bb46f8"
            ],
            [],
            []
        ]
    },
    {
        "id": "364e1f05.d728e",
        "type": "function",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "func": "var i = 2;\nvar outputMsgs = [];\nwhile (msg.payload[i] !== undefined) {\n    var onoff = msg.payload[i];\n    var pay = [ i-2, onoff];\n    outputMsgs.push({payload: pay});\n    i++;\n}\n\nreturn [ outputMsgs ];",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 200,
        "wires": [
            [
                "332d8a58.120516"
            ]
        ]
    },
    {
        "id": "4428e39b.74209c",
        "type": "function",
        "z": "fd4ffe57.f6b16",
        "name": "payload[1] to payload",
        "func": "var pay = msg.payload[1];\nmsg.payload = pay;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 100,
        "wires": [
            [
                "36ab43b0.2171bc"
            ]
        ]
    },
    {
        "id": "f5ea6701.daf2e8",
        "type": "ui_switch",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "label": "BedESP - L2",
        "group": "30f2727d.3c166e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "home/floor1/myroom/bed_esp/light02",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1070,
        "y": 160,
        "wires": [
            [
                "25116de1.55b6a2"
            ]
        ]
    },
    {
        "id": "25116de1.55b6a2",
        "type": "mqtt out",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "3cdd51b5.a678ee",
        "x": 1290,
        "y": 200,
        "wires": []
    },
    {
        "id": "c52248f9.bb46f8",
        "type": "function",
        "z": "fd4ffe57.f6b16",
        "name": "payload[1] to payload",
        "func": "var pay = msg.payload[1];\nmsg.payload = pay;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "f5ea6701.daf2e8"
            ]
        ]
    },
    {
        "id": "baa574d3.0d2728",
        "type": "ui_switch",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "label": "",
        "group": "30f2727d.3c166e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1030,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b6df61f4.ea1a9",
        "type": "switch",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "property": "payload[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 4,
        "x": 670,
        "y": 460,
        "wires": [
            [
                "f8139bd5.93ef28"
            ],
            [
                "bc59370c.5e03b8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a25fa7c7.4eca08",
        "type": "function",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "func": "var i = 2;\nvar outputMsgs = [];\nwhile (msg.payload[i] !== undefined) {\n    var onoff = msg.payload[i];\n    var pay = [ i-2, onoff];\n    outputMsgs.push({payload: pay});\n    i++;\n}\n\nreturn [ outputMsgs ];",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "b6df61f4.ea1a9"
            ]
        ]
    },
    {
        "id": "f8139bd5.93ef28",
        "type": "function",
        "z": "fd4ffe57.f6b16",
        "name": "payload[1] to payload",
        "func": "var pay = msg.payload[1];\nmsg.payload = pay;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "baa574d3.0d2728"
            ]
        ]
    },
    {
        "id": "2818ed9a.7dcdf2",
        "type": "ui_switch",
        "z": "fd4ffe57.f6b16",
        "name": "",
        "label": "",
        "group": "30f2727d.3c166e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1050,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "bc59370c.5e03b8",
        "type": "function",
        "z": "fd4ffe57.f6b16",
        "name": "payload[1] to payload",
        "func": "var pay = msg.payload[1];\nmsg.payload = pay;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 420,
        "wires": [
            [
                "2818ed9a.7dcdf2"
            ]
        ]
    }
]